<!DOCTYPE html>
<html lang="en">
<head>

	<% include head_incl.ejs %>
	<title>Account Details</title>

</head>
<body>

  <!-- NAVIGATION BAR -->

	<% include nav_bar.ejs %>
  
  <!-- END OF NAVIGATION BAR -->

  <!-- MAIN CONTENT OF THE PAGE -->

	<div class="container">
      <div class="col-sm-12"> 

        <!-- JUMBOTRON - HUGE BOX -->

        <div class="jumbotron">
          <h1 align="center">Hello!</h1>

          <!-- CONTENT OF EACH ROW OF THE JUMBOTRON -->
          <div class="row">

            <!-- BOX REFERRING TO A NEW CAFE -->
            <a href="byte-cafe.html">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                 <img src="images/byte_cafe.png" alt="Byte Cafe">
                 <div class="caption">
                   <h3>Thumbnail label</h3>
                 </div>
                </div>
              </div>
            </a>

            <!-- BOX REFERRING TO A NEW CAFE -->
            <a href="">
              <div class="col-sm-6 col-md-4">
               <div class="thumbnail">
                 <img src="images/byte_cafe.png" alt="Byte Cafe">
                 <div class="caption">
                   <h3>Thumbnail label</h3>
                 </div>
               </div>
              </div>
            </a>

            <!-- BOX REFERRING TO A NEW CAFE -->
             <a href="">
              <div class="col-sm-6 col-md-4">
               <div class="thumbnail">
                 <img src="images/byte_cafe.png" alt="Byte Cafe">
                 <div class="caption">
                   <h3>Thumbnail label</h3>
                 </div>
               </div>
              </div>
            </a>

          </div>
          <!-- END OF ROW OF JUMBOTRON -->

        </div>
        <!-- END OF JUMBOTRON -->
  </div>
</div>


  <!-- FOOTER OF PAGE -->

  <% include footer.ejs %>

  <!-- END OF FOOTER OF PAGE -->


</body>
</html>
