<!DOCTYPE html>
<html lang="en">
<head>

	<% include head_incl.ejs %>
	<title>Account Details</title>

</head>
<body>

  <!-- NAVIGATION BAR -->

	<% include nav_bar.ejs %>

  <!-- END OF NAVIGATION BAR -->

  <!-- MAIN CONTENT OF THE PAGE -->

	<div class="container">
      <div class="col-sm-12">

        <div class="panel panel-default">
          <div class="panel-body">
            <h1> Hello, <%= user.user_email %>!</h1>
          </div>
        </div>

  </div>
</div>


  <!-- FOOTER OF PAGE -->

  <% include footer.ejs %>

  <!-- END OF FOOTER OF PAGE -->


</body>
</html>
