<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <script scr="/js/dropdown.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="/css/style.css">

  <title>Basket</title>

</head>
<body>

  <!-- NAVIGATION BAR -->

  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid navbar-header" id="header">
          <img src="/images/logo.png">
      </div>
      <div class="collapse navbar-collapse " id="">

      <!-- CONTENT ON THE RIGHT (FROM LEFT TO RIGHT) -->

        <ul class="nav navbar-nav navbar-right">

          <!-- LIST ITEM --> 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cutlery glyphicon-larges" aria-hidden="true" style="color:#aa764e"><span class="caret"></span></span></a>
            <ul class="dropdown-menu">
              <% cafes.forEach(function(cafe) { %>
                <li><a href="byte-cafe.html"><%= cafe.name %></a></li>
              <% }); %>
            </ul>
           
          </li>

          <!-- LIST ITEM -->
          <li>
            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart glyphicon-larges" aria-hidden="true" style="color:#aa764e"></span></a>
          </li>

          <!-- LIST ITEM -->

          <li class="dropdown" id="settings">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-cog glyphicon-large" aria-hidden="true" style="color:#aa764e"><span class="caret"></span></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><%= user.email %><a></li>
              <li><a href="account-details.html">Account Detail</a></li>
              <li><a href="#">Order History</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Help</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/auth/logout">Log out</a></li>
            </ul>
          </li>
            
        </ul>
      </div>
  </nav>
  <!-- END OF NAVIGATION BAR -->


  <!-- MAIN CONTENT OF THE PAGE -->

  <div class="container">
    <div class="row">

      <div class="panel panel-default">
      <!-- Default panel contents -->
        <div class="panel-heading" id="order-heading">Your order:</div>
        <div class="panel-body">
          <div class="col-sm-5">
            <p> Your current order includes the listed items. <br><br>
                If you wish to add more items, you can always do so.<br>
                You can also remove items that you do not want anymore.<br>
                <br>
                Once you are sure this is your order, please <br> press the 
                button. You will be redirected to PayPal.</p>
<!-- TO DO TO DO TO DO TO DO TO DO TO DO TO DO
      CODE THAT LOADS THE CAFE AND THE ITEMS FROM IT
-->
          </div>
          <div class="col-sm-7">
            <!-- List group -->
            <ul class="list-group">
              <% basket.forEach(function(bask_item) { %>
                <li class="list-group-item"><%= bask_item.product_id %><a href="" id="remove-button"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="color:#aa764e"></span></a></li>
              <% }); %>
             </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-default btn-block" id="goToPayment" href="">Procede to payment</button>
      </div>

  <!-- FOOTER OF PAGE -->

  <footer class="bs-docs-footer" role="contentInfo">
    <div class="container"></div>
    <div class="row">
      <div class="col-sm-12"><hr></div>
      <div class="col-sm-12">
        <div class="col-sm-7">
          <a href="#">Terms of Service</a>    
          <a href="#">Privacy</a>    
          <a href="#">Contacts</a>
        </div>
        <div class="col-sm-5">
          <p class="muted pull-right">© 2016 W3 Group @ School of Computer Science @ UoM. All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- END OF FOOTER OF PAGE -->


</body>
</html>
