<!DOCTYPE html>
<html lang="en">
<head>
  
  <% include head_incl.ejs %>
  <title>Basket</title>

</head>
<body>

  <!-- NAVIGATION BAR -->

  <% include nav_bar.ejs %>
  
  <!-- END OF NAVIGATION BAR -->


  <!-- MAIN CONTENT OF THE PAGE -->

  <div class="container">
    <div class="row">

      <div class="panel panel-default">
      <!-- Default panel contents -->
        <div class="panel-heading" id="order-heading">Your order:</div>
        <div class="panel-body">
          <div class="col-sm-5">
            <p> Your current order includes the listed items. <br><br>
                If you wish to add more items, you can always do so.<br>
                You can also remove items that you do not want anymore.<br>
                <br>
                Once you are sure this is your order, please <br> press the 
                button. You will be redirected to PayPal.</p>
          </div>
          <div class="col-sm-7">
            <!-- List group -->
            <ul class="list-group">
              <% basket.forEach(function(bask_item) { %>
                <li class="list-group-item"><%= bask_item.product_id %><a href="" id="remove-button"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="color:#aa764e"></span></a></li>
              <% }); %>
             </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-default btn-block" id="goToPayment" href="">Procede to payment</button>
      </div>

  <!-- FOOTER OF PAGE -->

  <% include footer.ejs %>

  <!-- END OF FOOTER OF PAGE -->


</body>
</html>
