 <!-- Bottom navbar -->
  <div class="row-fluid navbar-fixed-bottom">
    <div class="col-sm-12">
      <hr>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-7">
        <a href="/terms">Terms and Conditions</a>
        <a href="/contacts">Contacts</a>
      </div>
      <div class="col-sm-5">
        <p class="muted pull-right">© 2016 W3 Group @ School of Computer Science @ UoM. All rights reserved</p>
      </div>
    </div>
  </div>