<!DOCTYPE html>
<html>
<head>
  <% include head_incl.ejs %>
  <title> Contacts </title>
</head>
<body>

  <% include nav_bar.ejs %>

  <div class="container">
    <div class="row">

      <div class="jumbotron">
        <div class="row"><h2> Contact Information</h2></div>
        <!-- Each Question -->
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-body">W3 Group:
                <ul>
                  <li>Elitsa</li>
                  <li>Joseph</li>
                  <li>Bingda</li>
                  <li>Geanina</li>
                  <li>Octavian</li>
                  <li>Zachary</li>
                </ul></div>
            </div>
          </div>
        </div>
        <!-- End of Question -->

      </div>
    </div>
  </div>

  <% include bottom_nav.ejs %>
</body>
</html>
