<footer class="bs-docs-footer" role="contentInfo">
    <div class="container"></div>
    <div class="row">
      <div class="col-sm-12"><hr></div>
      <div class="col-sm-12">
        <div class="col-sm-7">
          <a href="#">Terms of Service</a>    
          <a href="#">Privacy</a>    
          <a href="#">Contacts</a>
        </div>
        <div class="col-sm-5">
          <p class="muted pull-right">© 2016 W3 Group @ School of Computer Science @ UoM. All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>