<!DOCTYPE html>
<html>
<head>
  <% include head_incl.ejs %>
  <title> Help </title>
</head>
<body>

  <% include nav_bar.ejs %>

  <div class="container">
    <div class="row">

      <div class="jumbotron">
        <div class="row"><h2> Frequently Asked Questions</h2>
          <h4> If you need more details, please do not hesitate to contact! You can find contact information in the 'Contacts' page below.</h4><br></div>
        <!-- Each Question -->
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">How can I contact you?</div>
              <div class="panel-body">There is a contact page (linked in the footer) that provides extensive contact information.</div>
            </div>
          </div>
        </div>
        <!-- End of Question -->
        <!-- Each Question -->
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">What happens if I have the same order as someone else?</div>
              <div class="panel-body">The contents of the order don't matter as the client is identified via username and email.</div>
            </div>
          </div>
        </div>
        <!-- End of Question -->
        <!-- Each Question -->
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">What happens if someone else has the same name as me?</div>
              <div class="panel-body">You will be asked to identify yourself via email address. The two of you cannot have the same email address (we've made sure of that), so it wouldn't really be a problem.</div>
            </div>
          </div>
        </div>
        <!-- End of Question -->
        <!-- Each Question -->
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">What if I get there on time but my order isn't ready yet?</div>
              <div class="panel-body">This may happen and you would have to wait for a minute or two. During busy times even 10 mins wouldn't be enough for some orders. Please be patient. After all, you didn't queue for 10-15 mins. </div>
            </div>
          </div>
        </div>
        <!-- End of Question -->
        <!-- Each Question -->
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">What happens if I don't pick my order?</div>
              <div class="panel-body">You are a terrible person.</div>
            </div>
          </div>
        </div>
        <!-- End of Question -->
        <!-- Each Question -->
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">How can I be sure that once I pay, I will recieve my order?</div>
              <div class="panel-body">You have to trust us with this. We have no benefit from lying to our customers, so yeah, we will complete you order. Of course, if we cannot do so, it will be cancelled and your money will be refunded.</div>
            </div>
          </div>
        </div>
        <!-- End of Question -->

      </div>
    </div>
  </div>

  <% include footer.ejs %>
</body>
</html>
