<!DOCTYPE html>
<html lang="en">
<head>

  <% include head_incl.ejs %>
  <title>Welcome Page - Café Selector</title>

</head>
<body>

  <!-- NAVIGATION BAR -->

  <% include nav_bar.ejs %>

  <!-- END OF NAVIGATION BAR -->

  <!-- MAIN CONTENT OF THE PAGE -->

  <div class="container">
      <div class="col-sm-12">

        <!-- JUMBOTRON - HUGE BOX -->

        <div class="jumbotron">
          <h1 align="center" style="margin-top: 0px; margin-bottom: 50px;">Cafe selection</h1>

          <div class="row">

            <!-- BOX REFERRING TO A NEW CAFE -->
            <% cafes.forEach(function(cafe) { %>
              <a href="/cafe/<%= cafe.cafe_id %>">
              <div class="col-sm-6 col-md-4 cafeWindow">
                <div class="thumbnail">
                  <img class="cafeIMG" src="<%= cafe.cafe_image_url %>" alt="<%= cafe.cafe_name %>">
                  <div class="caption">
                    <h3><%= cafe.cafe_name %></h3>
                  </div>
                </div>
              </div>
            </a>
            <% }); %>
          </div>
          <!-- END OF ROW OF JUMBOTRON -->

        </div>
        <!-- END OF JUMBOTRON -->

      </div>
  </div>


  <!-- FOOTER OF PAGE -->

  <% include footer.ejs %>

  <!-- END OF FOOTER OF PAGE -->


</body>
</html>
