  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid navbar-header" id="header">
        <a href="/"><img src="/images/logo_2.png"></a>
      </div>
      <div class="collapse navbar-collapse " id="">

      <!-- CONTENT ON THE RIGHT (FROM LEFT TO RIGHT) -->

        <ul class="nav navbar-nav navbar-right">
          <% if (user.user_permission_admin) { %>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-pencil glyphicon-large" aria-hidden="true" style="color:#aa764e"><span class="caret"></span></span></a>
              <ul class="dropdown-menu">
                <li><a href="/usr_mng">User Manager</a></li>
                <li><a href="/product_mng">Product Manager</a></li>
                <li><a href="/cafe_mng">Cafe Manager</a></li>
              </ul>
            </li>
          <% } %>

          <% if (user.user_permission_pos) { %>
            <li>
              <a href="/pos" role="button" aria-haspopup="true"><span class="glyphicon glyphicon-credit-card glyphicon-large" aria-hidden="true" style="color:#aa764e"></span></a>
            </li>
          <% } %>

          <% if (user.user_permission_store) { %>
          <!-- LIST ITEM -->
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cutlery glyphicon-large" aria-hidden="true" style="color:#aa764e"><span class="caret"></span></span></a>
            <ul class="dropdown-menu">
              <% cafes.forEach(function(cafe) { %>
                <li><a href="/cafe/<%= cafe.cafe_id %>"><%= cafe.cafe_name %></a></li>
              <% }); %>
            </ul>
          </li>

          <!-- LIST ITEM -->
          <li>
            <a href="/basket" role="button" aria-haspopup="true"><span class="glyphicon glyphicon-shopping-cart glyphicon-large" aria-hidden="true" style="color:#aa764e"></span></a>
          </li>
          <% } %>

          <!-- LIST ITEM -->

          <li class="dropdown" id="settings">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-cog glyphicon-large" aria-hidden="true" style="color:#aa764e"><span class="caret"></span></span></a>
            <ul class="dropdown-menu">
              <li><a href="" id="userEmail"><%= user.user_email %></a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/account">Account Details</a></li>
              <li><a href="#">Order History</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Help</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/auth/logout">Log out</a></li>
            </ul>
          </li>

        </ul>
      </div>
  </nav>
