<!DOCTYPE html>
<html lang="en">
  <head>

    <% include head_incl.ejs %>
    <title> POS SIDE </title>

  </head>
  <body>

  <% include nav_bar.ejs %>

    <div class="container">
    <div class="row">

      <!-- STATIC SIDEBAR WITH DIFFERENT CATEGORIES -->
      <div class="col-sm-3">
          <div class="list-group">
            <a href="#" class="list-group-item">user email 1</a>
            <a href="#" class="list-group-item active">user email 2</a>
            <a href="#" class="list-group-item">user email 3</a>
            <a href="#" class="list-group-item list-group-item-warning">user email 4</a>
            <a href="#" class="list-group-item">user email 5</a>
          </div>
      </div>

      <!-- DYNAMIC CONTENT OF THE PAGE - STOCK ITEMS-->
      <div class="col-sm-9">
        <!-- CONTENT OF EACH ROW OF THE CONTENT -->
        <div class="row">

          <div class="jumbotron">
            <h2>user email 2</h2>
            <p>time of order: 14:57</p>

              <div class="row">
              <!-- List group -->
                <ul class="list-group">
                  <li class="list-group-item">Coffee</li>
                  <li class="list-group-item">Sandwich</li>
                  <li class="list-group-item">Juice</li>
                </ul>
              </div>

            <div class="row">
              <div class="col-sm-4">
                <input class="btn btn-danger" type="submit" value="CANCEL" id="cancel-order">
              </div>
              <div class="col-sm-4">
                <input class="btn btn-warning" type="submit" value="COMPLETE" id="wait-order">
              </div>
              <div class="col-sm-4">
                <input class="btn btn-success" type="submit" value="FINISH" id="finish-order">
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
    </div>

    <% include footer.ejs %>

  </body>
</html>
