// example configuration file
module.exports = {
  // http website port
  http_port: 80,

  // https website port
  tls_port: 443,

  // database configuration 
  // https://github.com/felixge/node-mysql#connection-options
  database: {
    host: "db.example.com", port: 3306,
    user: "username", password: "super_secret",
    database: "cafe_db"
  }
};
